[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/vathsavv56/Documents/Web/kern-v2/public/og.png
Type=Link
URL=file:///home/vathsavv56/Documents/Web/kern-v2/public/og.png
Icon=image-png
